<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пример</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <form method="get" action="/easyLevel/">
    <h1>Пример</h1>
    
    <p>{{ Prim }}=</p>
    <input type="text" id="YourAnswer" name="YourAnswer">
    <input type="submit" class="btn btn-primary" id="But">Primary</button>
    <p name="superAnswer">{{goodAnswer}}</p>
    <p name='valid' id="valid">{{ans}}</p>
    </form>
</body>
</html>
